* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  background-color: #04082b;
  color:#FFFFFF;
}
.app {
  padding-bottom: 1em;
}