.info-area {
  display: flex;
  flex-direction: column;
}
.cards {
  display: flex;
  justify-content: space-around;
}
.country-title { 
  text-transform: capitalize;
  margin-bottom: 20px;
  font-size: 2.125rem;
}

@media (max-width:762px) {
  .cards {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}